.app {
    display: flex;
    justify-content: space-between;
  }
  
  .editor,
  .preview{
    flex: 1;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  